* {
  box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0;
  line-height: 1.5;
  background-color: #001f3f;
  background-image: url("img/gplay.png"); /* https://www.transparenttextures.com/patterns/gplay.png */ 
}

/* hide number inputs spin buttons */
input[type=number]::-webkit-inner-spin-button,
input[type=number]::-webkit-outer-spin-button {
  -webkit-appearance: none;
          appearance: none;
  margin: 0;
}
input[type=number] {
  -webkit-appearance: textfield;
     -moz-appearance: textfield;
          appearance: textfield;
}

.container {
  max-width: 450px;
  margin: 3rem auto;
  padding-right: 20px;
  padding-left: 20px;
  background-color: #fff;
}

nav {
  margin-bottom: 2rem;
}

main {
    display: flex;
    justify-content: space-around;
}

.instructions-closed {
  display: none;
}

.instructions-display {
  display: block;
}

h1 {
  text-align: center;
  padding-top: 1rem;
}

section {
  padding: 20px;
}


.circle {
  padding: 0;
  display: inline-block;
  height: 30px;
  width: 30px;
  border: 1px solid black;
  border-radius: 50%;
  text-align: center;
  margin: 16px 3px;
}

.control {
  flex-basis: 300px;
  text-align: right;
  border-right: 1px solid black;
  text-align: center;
}

.results {
    text-align: center;
}

.row {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 70px;
}

.square {
  display: flex;
  flex-wrap: wrap;
  height: 50px;
  width: 50px;
}

.circle-small {
  width: 16px;
  height: 16px;
  border: 1px solid black;
  border-radius: 50%;
  margin: 4px;
}

nav button {
  display: block;
  margin: 0 auto;
  text-transform: uppercase;
  width: 100%;
  padding-top: 0.5rem;
  padding-bottom: 0.5rem;
}

button {
  display: inline-block;
}

.button-submit {
    margin-left: 5px;
}
