* {
  box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0;
  line-height: 1.5;
  background-color: #001f3f;
  background-image: url("img/gplay.png"); /* https://www.transparenttextures.com/patterns/gplay.png */ 
}

/* hide number inputs spin buttons */
input[type=number]::-webkit-inner-spin-button,
input[type=number]::-webkit-outer-spin-button {
  -webkit-appearance: none;
          appearance: none;
  margin: 0;
}
input[type=number] {
  -webkit-appearance: textfield;
     -moz-appearance: textfield;
          appearance: textfield;
}

.container {
  max-width: 500px;
  margin: 3rem auto;
  padding-right: 20px;
  padding-left: 20px;
  background-color: #fff;
}

nav {
  margin-bottom: 2rem;
}

/* clearfix*/ 
main:after {
  content: " ";
  display: block;
  clear: both;
}

.instructions-closed {
  display: none;
}

.instructions-display {
  display: block;
}

h1 {
  text-align: center;
  padding-top: 1rem;
}

section {
  padding: 20px;
}


.circle {
  padding: 0;
  display: inline-block;
  height: 30px;
  width: 30px;
  border: 1px solid black;
  border-radius: 50%;
  text-align: center;
  margin-top: 1rem;
  margin-bottom: 1rem;
}

.control {
  width: 66.33%;
  float: left;
  text-align: right;
  border-right: 1px solid black;
}

.results {
  width: 33.33%;
  float: left;
}

.square {
  display: inline-block;
  height: 100%;
  width: 50px;

}

.circle-small {
  width: 15px;
  height: 15px;
  border: 1px solid black;
  border-radius: 50%;
  float: left;
  margin: 5px;
}

.row {
  height: 70px;
}

nav button {
  display: block;
  margin: 0 auto;
  text-transform: uppercase;
  width: 100%;
  padding-top: 0.5rem;
  padding-bottom: 0.5rem;
}

button {
  dispay: inline-block;
}
